<span class="float-right" (click)="$event.stopPropagation();">
	<a class="login-link" (click)="applicationService.toggleUserMenu()">{{loggedUser.username}}</a>
	<div class="user-menu popover rounded" [hidden]="applicationService.displayUserMenu">
		<button (click)="loginService.logOut()">Log out</button>	
	</div>
</span>
