<span class="float-right" (click)="$event.stopPropagation();">
	<a class="login-link" (click)="applicationService.toggleLogin()">Log in / Sing up</a>
	<div class="login popover rounded" [hidden]="!applicationService.displayLogin">
		<form>
			<div class="has-acount-header"><span>Have an acount?</span></div>
			<div><input type="text" [(ngModel)]="email" placeholder="email" name="email"></div>
			<div><input type="password" [(ngModel)]="password" placeholder="password" name="password"></div>
			<div class="form-check keep-data">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox" [(ngModel)]="keepData" name="keep-data">keep my data
				</label>
			</div>
			<div><button class="btn btn-primary btn-block" (click)="sendLogin()">Log in</button></div>
			<hr>	
			<div class="new-user"><span>New user?</span></div>
			<div><a routerLink="/signup" (click)="applicationService.hideLogin()"><button class="btn btn-primary btn-block">Sign up</button></a></div>
		</form>	
	</div>
</span>
