span a.login-link{
	right: 10px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 12px;
	background-image: url('/images/caret.png');
	background-size: 8px auto;
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 12px;
	cursor: pointer;
	color: #00b;
}
span .login.popover{
	border: 1px solid #eee;
	z-index: 100;
	background-color: #fef;
	top: 40px;
	right: 12px;
	padding: 12px;
	font-size: 14px;
}
span .login-popover form div{
	margin-top: 8px;
}
.popover{
	position: absolute;	
	border: 1px solid red;
}
