.signup-content{
	margin: 24px;
	width: 400px;
	text-align: center;
}
h1{
	color: #666;
}
form input{
	border: 1px solid #ddd;
	width: 100%;
	background-color: #fff;
	color: #111;
	height: 40px;
	padding: 8px;
}
form div.error{
	margin-top: 2px;
	color: #a22;
	font-size: 12px;
}
form button{
	margin-top: 16px;
}
.form-group.error .error_message{
	color: red;
	text-align: left;
	padding-left: 10px;
}
.form-group.error input{
	background-color: #ffd8d8!important; 
	border: 1px solid #f44!important;
}
