<div class="signup-content mx-auto">
	<form *ngIf="currentStatus != formStatus.success" (ngSubmit)="onSubmit()" name="signupForm" action="/signup" method="post" #signupForm="ngForm">
		<h1>Create an account</h1>
		<div class="form-group">
			<input #first_name_input="ngModel" name="first_name" class="rounded form-control" type="text" [(ngModel)]="first_name" placeholder="First name" required>
			<div [hidden]="first_name_input.valid || first_name_input.pristine" class="error">
				Please, enter your first name
			</div>
		</div>
		<div class="form-group" [class.error]="last_name_input.invalid && last_name_input.dirty && first_name_input.valid">
			<input #last_name_input="ngModel" name="last_name" class="rounded form-control" type="text" [(ngModel)]="last_name" placeholder="Last name" required>
			<div [hidden]="!(last_name_input.invalid && last_name_input.dirty && first_name_input.valid)" class="error_message">
				Please, enter your last name
			</div>
		</div>
		<div class="form-group">
			<input #email_input="ngModel" name="email" class="rounded form-control" type="text" (input)="emailCheck()" [(ngModel)]="email" placeholder="Email" required>
			<div [hidden]="email_input.valid || email_input.pristine || (last_name_input.invalid)" class="error">
				Please, enter an email address
			</div>
		</div>
		<div class="form-group">
			<input #password_input="ngModel" name="password" class="rounded form-control" type="password" [(ngModel)]="password" placeholder="Password" required>
			<div [hidden]="password_input.valid || password_input.pristine || (email_input.invalid)" class="error">
				Please, enter a password
			</div>
		</div>
		<div class="form-group">
			<input #password_confirm_input="ngModel" name="password_confirm" class="rounded form-control" type="password" [(ngModel)]="password_confirm" placeholder="Confirm password" required>
			<div [hidden]="password_confirm_input.valid || password_confirm_input.pristine || (password_input.invalid)" class="error">
				Please, enter your password once more
			</div>
		</div>
		<button *ngIf="currentStatus != formStatus.sending" type="submit" [disabled]="!signupForm.form.valid" class="btn btn-primary btn-block">Register</button>
		<div *ngIf="currentStatus == formStatus.sending"><img src="/assets/images/ajax-loader.gif" class="mx-auto"></div>
		<div *ngIf="currentStatus == formStatus.error" class="error">
			please fill the form properly
		</div>
	</form>
	<div *ngIf="currentStatus == formStatus.success">
		<h2>Congratulations!</h2>
		<p>Your account has been succesfully created!</p>
		<p>We have sent an email to your account, please check the email and click on the activation link</p>
	</div>
</div>
