body{
	margin: 0;
	background-color: #ddd;
}
button{
	cursor: pointer;
}
.popover{
	position: absolute!important;	
	border: 1px solid red!important;
}

/* You can add global styles to this file, and also import other style files */
