<nav class="clearfix top-bar">
	<img routerLink="/" src="/assets/images/logo.png" class="logo">
	<app-login *ngIf="!loginService.userLogged"></app-login>
	<app-user-menu *ngIf="loginService.userLogged"></app-user-menu>
</nav>
